.single-task {
    display: flex;
    flex-direction: column;
    width: 340px;
    margin: 0 auto;
    background-color: palegoldenrod;
    padding: 10px;
    box-shadow: 0 0 10px 0 black;
    position: relative;
    h1 {
        margin: 10px auto;
        color: rgb(0, 89, 255);
    }
    p {
        font-family: 'Inconsolata', monospace;
        margin: 20px 0px;
        color: rgb(77, 77, 77);
        span {
            font-family: 'Cute Font', cursive; 
            font-size: 15px;
            font-weight: bold;
            color: rgb(86, 0, 121)
        }
    }
    .task-rename-field {
        font-size: 35px;
        font-weight: bold;
        max-width: 250px;
        text-align: center;
        border: none;
        background-color: palegoldenrod;
        padding: 5px 2px;
        transition: 0.5s;
        border-radius: 20px;
        font-family: 'Cute Font', cursive; 
        cursor: pointer;
        &:focus {
            outline: none;
            background-color: rgb(255, 252, 225);
        }
    }
    a {
        position: absolute;
        left: -60px;
        font-size: 50px;
        color: black;
        text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.712);
        transition: 0.4s;
        &:hover {
            text-shadow: none;
        }
    }
}
