.main-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.task-container {
    padding: 10px;
    margin: 20px 20px;
    box-shadow: 0 3px 2px 0px rgba(0, 0, 0, 0.253);
    background-color: rgb(241, 241, 146);
    transition: 0.2s;
    &:hover {
        box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.205);
        animation: move-task 0.2s linear;
    }
    .task-name {
        cursor: pointer;
        text-align: center;
    }
    a {
        text-decoration: none;
        color: rgb(255, 153, 0);
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.747);
    }
    .high-priority-task {
        animation: warning 0.5s linear infinite;
        a {
            color: red !important;
        }
    }
    p {
        font-family: 'Inconsolata', monospace;
        border-bottom: 1px dotted black;
        span {
            color: rgb(35, 39, 255);
            text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.356);
            font-weight: bold;
        }
    }
}
@keyframes move-task {
    0% {transform: rotate(0deg)}
    33% {transform: rotate(2deg)}
    66% {transform: rotate(-2deg)}
    100% {transform: rotate(0deg)}
}
@keyframes warning {
    0% {transform: scale(1)}
    50% {transform: scale(1.05)}
    100% {transform: scale(1)}
}