.header-container {
    margin: 0 0 70px 0;
    display: flex;
    position: relative;
    width: 100%;
    height: 100px;
    background-color: rgb(156, 156, 156);
    box-shadow: 0 2px 5px 0 black;
    align-items: center;
    font-size: 40px;
    font-family: 'Cute Font', cursive; 
    .fa-pencil-alt {
      position: relative;
      margin: 0 40px 0 25px;
      font-size: 30px;
      animation: pencil-move 2s linear infinite, pencil-rotate 0.5s linear infinite;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.842)
    }
  }
  
  @keyframes pencil-move {
    0% {left: 0}
    50% {left: 20px}
    100% {left: 0}
  }
  @keyframes pencil-rotate {
    0% {transform: rotate(0deg)}
    25% {transform: rotate(5deg)}
    50% {transform: rotate(0deg)}
    75% {transform: rotate(-5deg)}
    100% {transform: rotate(0deg)}
  } 