.footer-container {
    margin: 70px 0 0 0;
    padding: 0 10px 0 10px;
    display: flex;
    position: relative;
    width: 100%;
    height: 100px;
    background-color: rgb(27, 27, 27);
    box-shadow: 0 -2px 5px 0 black;
    color: white;
    align-items: center;
    font-size: 20px;
    font-family: 'Rock Salt', cursive;
    .fa-atom {
      font-size: 45px;
      margin: 0 0 0 25px;
      color: rgb(38, 194, 255);
      animation: react-rotate 14s linear infinite;
    } 
  }
  @keyframes react-rotate {
    0% {transform: rotate(0deg)}
    100% {transform: rotate(-360deg)}
  }