* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(170, 170, 170));
    .main-container {
      width: 100%;
      display: flex;
      flex-direction: column;
    }
  }